<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Miso list</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!--Layout CSS-->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--Nav CSS-->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!--Header CSS-->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <!--Main CSS-->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <!--ListItems CSS-->
    <link rel="stylesheet" href="/styles/listItem.css" type="text/css" />
    <!--Footer CSS-->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/f07023f341.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: #f7f0db;">
    <nav class="gridLayered">
        <div class="leftContainer">
          <a class="leftItem" href="#header">
            <img class="navimg" src ="https://www.sccpre.cat/mypng/detail/172-1728754_japanese-akita-icon-wrapping-paper-shiba-inu.png" >
          </a>
          <a class="iconLinks leftItem" href="#bookList">
            <i class="fas fa-book fa-2x navi"></i>
          </a>
          <a class="iconLinks leftItem" href="#movieList">
            <i class="fas fa-tv fa-2x navi"></i>
          </a>
          <a class="iconLinks leftItem" href="#restList">
            <i class="fas fa-utensils fa-2x navi"></i>
          </a>
          <a class="iconLinks leftItem" href="#productList">
            <i class="fas fa-shopping-cart fa-2x navi"></i>
          </a>
          <a class="iconLinks leftItem" href="#miscList">
            <i class="fas fa-clipboard-list fa-2x navi"></i>
          </a>
          <a class="iconLinks leftItem" href="#archiveList">
            <i class="fas fa-check-square fa-2x navi"></i>
          </a>
        </div>
          <div class="rightContainer">
            <a class="rightItem username"><strong><%= user.email %></strong></a>
            <form class="rightItem" method="POST" action="/logout">
              <button id="linkBtnNav" class="btn btn-outline-dark" type="submit">Logout</button>
            </form>
          </div>
    </nav>
    <header id="header">
      <div class="centerHeader">
          <h1 id="headerTitle">Miso, fetch!</h1>
          <form action="/" method="POST" class="headerItem">
            <input type="text" name="searchEngine" style="width: 200px; margin: 1em">
            <button type="submit" id="linkBtn" class="btn btn-outline-dark">Add to List</button>
          </form>
      </div>
    </header>
    <main>
      <% if (results) { %>
        <!-- BOOKS -->
        <div id="bookList" aria-hidden="true"/>
        <div class="leftContainer bookSlide">
          <h2 class="listTitle leftItem ">Books</h2>
          <i class="fas fa-sort-down fa-2x leftItem"></i>
        </div>
        <div class="bookSection">
        <% let books = results['books']; %>
        <% for (let book of books) { %>
          <div class="toDoList">
            <div class="itemHeader">
                <a href='/books/<%= book['id'] %>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= book['name'] %></h4></a><br>
                <a href="<%= book['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">goodreads</button></a>
                <form class="completedbtn" action="/books/<%= book['id'] %>/complete" method="POST">
                  <button type="submit" id="completeBtn" class="btn btn-outline-success">Completed</button>
                </form>
            </div>
            <p class="itemContext"><%= book['context'] %></p>
        </div>
      <% } %>
    </div>

        <!-- MOVIES AND SERIES -->
        <div id="movieList" aria-hidden="true"/>
        <div class="leftContainer movieSlide">
          <h2 class="listTitle leftItem">Movies & TV Series</h2>
          <i class="fas fa-sort-down fa-2x leftItem"></i>
        </div>
        <div class="movieSection">
        <% let movies = results['movies_and_series']; %>
        <% for (let movie of movies) { %>
          <div class="toDoList">
            <div class="itemHeader">
              <a href='/movies/<%= movie['id']%>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= movie['name'] %></h4></a><br>
              <a href="<%= movie['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">IMDB</button></a>
              <form class="completedbtn" action="/movies_and_series/<%= movie['id'] %>/complete" method="POST">
                <button type="submit" id="completeBtn" class="btn btn-outline-success">Completed</button>
              </form>
            </div>
            <p class="itemContext"><%= movie['context'] %></p>
          </div>
        <% } %>
      </div>

        <!-- RESTAURANTS -->
        <div id="restList" aria-hidden="true"/>
        <div class="leftContainer restSlide">
          <h2 class="listTitle leftItem">Restaurants</h2>
          <i class="fas fa-sort-down fa-2x leftItem"></i>
        </div>
        <div class="restSection">
        <% let restaurants = results['restaurants']; %>
        <% for (let restaurant of restaurants) { %>
          <div class="toDoList">
            <div class="itemHeader">
              <a href='/restaurants/<%= restaurant['id']%>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= restaurant['name'] %></h4></a><br>
              <a href="<%= restaurant['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">Zomato</button></a>
              <form class="completedbtn" action="/restaurants/<%= restaurant['id'] %>/complete" method="POST">
                <button type="submit" id="completeBtn" class="btn btn-outline-success">Completed</button>
              </form>
            </div>
            <p class="itemContext"><%= restaurant['context'] %></p>
          </div>
        <% } %>
      </div>

        <!-- PRODUCTS -->
        <div id="productList" aria-hidden="true"/>
        <div class="leftContainer prodSlide">
          <h2 class="listTitle leftItem">Products</h2>
          <i class="fas fa-sort-down fa-2x leftItem"></i>
        </div>
          <div class="prodSection">
          <% let products = results['products']; %>
          <% for (let product of products) { %>
            <div class="toDoList">
              <div class="itemHeader">
                <a href='/products/<%= product['id']%>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= product['name'] %></h4></a><br>
                <a href="<%= product['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">Amazon</button></a>
                <form class="completedbtn" action="/products/<%= product['id'] %>/complete" method="POST">
                  <button type="submit" id="completeBtn" class="btn btn-outline-success">Completed</button>
                </form>
              </div>
              <p class="itemContext"><%= product['context'] %></p>
            </div>
        <% } %>
      </div>

      <!-- MISC -->
      <div id="miscList" aria-hidden="true"/>
      <div class="leftContainer miscSlide">
        <h2 class="listTitle leftItem">Miscellaneous</h2>
        <i class="fas fa-sort-down fa-2x leftItem"></i>
      </div>
        <div class="miscSection">
        <% let misc = results['misc']; %>
        <% for (let mis of misc) { %>
          <div class="toDoList">
            <div class="itemHeader">
              <a href='/misc/<%= mis['id']%>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= mis['name'] %></h4></a><br>
              <div class="rightContainer">
                <form class="completedbtn" action="/misc/<%= mis['id'] %>/complete" method="POST">
                  <button type="submit" id="completeBtn" class="btn btn-outline-success">Completed</button>
                </form>
              </div>
            </div>
            <p class="itemContext"><%= mis['context'] %></p>
          </div>
        <% } %>
      </div>
    <% } %>

        <% if (results) { %>
        <!-- Archived -->
        <div id="archiveList" aria-hidden="true"/>
        <div class="leftContainer archiveSlide">
          <h2 class="listTitle archiveSlide">Archived</h2>
          <i class="fas fa-sort-down fa-2x leftItem"></i>
        </div>
          <div class="archiveSection">
          <% let archivedBooks = archives['books']; %>
          <% let archivedMovies = archives['movies_and_series']; %>
          <% let archivedRest = archives['restaurants']; %>
          <% let archivedProducts = archives['products']; %>
          <% let archivedMisc = archives['misc']; %>
          <% for (let archive of archivedBooks) { %>
            <div class="toDoList">
              <div class="itemHeader">
                <a href='/<%= archive['name']%>' class="leftItem itemTitleHeader"><h4 class='itemName'><%= archive['name'] %></h4></a><br>
                <div class="rightContainer">
                  <a href="<%= archive['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">goodreads</button></a>
                  <form class="form-delete" action="/books/<%= archive['id'] %>/unarchive" method="POST">
                    <button type="submit" name='unarchive' id="archiveBtn" class="btn btn-outline-danger rightItem">Unarchive</button>
                  </form>
                </div>
              </div>
              <p class="itemContext"><%= archive['context'] %></p>
            </div>
          <% } %>
          <% for (let archive of archivedMovies) { %>
            <div class="toDoList">
            <div class="itemHeader">
              <a href='/<%= archive['name']%>' class="leftItem itemTitleHeader"><h4><%= archive['name'] %></h4></a><br>
              <div class="rightContainer">
                  <a href="<%= archive['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">IMDB</button></a>
                  <form class="form-delete" action="/movies_and_series/<%= archive['id'] %>/unarchive" method="POST">
                    <button type="submit" name='unarchive' id="archiveBtn" class="btn btn-outline-danger rightItem">Unarchive</button>
                  </form>
                </div>
            </div>
            <p class="itemContext"><%= archive['context'] %></p>
          </div>
          <% } %>
          <% for (let archive of archivedRest) { %>
            <div class="toDoList">
            <div class="itemHeader">
              <a href='/<%= archive['name']%>' class="leftItem itemTitleHeader"><h4><%= archive['name'] %></h4></a><br>
              <div class="rightContainer">
                  <a href="<%= archive['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">Zomato</button></a>
                  <form class="form-delete" action="/restaurants/<%= archive['id'] %>/unarchive" method="POST">
                    <button type="submit" name='unarchive' id="archiveBtn" class="btn btn-outline-danger rightItem">Unarchive</button>
                  </form>
                </div>
            </div>
            <p class="itemContext"><%= archive['context'] %></p>
          </div>
          <% } %>
          <% for (let archive of archivedProducts) { %>
            <div class="toDoList">
            <div class="itemHeader">
              <a href='/<%= archive['name']%>' class="leftItem itemTitleHeader"><h4><%= archive['name'] %></h4></a><br>
              <div class="rightContainer">
                  <a href="<%= archive['link'] %>" class="rightItem" target="_blank"><button id="linkBtn" class="btn btn-outline-dark">Amazon</button></a>
                  <form class="form-delete" action="/products/<%= archive['id'] %>/unarchive" method="POST">
                    <button type="submit" name='unarchive' id="archiveBtn" class="btn btn-outline-danger rightItem">Unarchive</button>
                  </form>
                </div>
            </div>
            <p class="itemContext"><%= archive['context'] %></p>
          </div>
          <% } %>
          <% for (let archive of archivedMisc) { %>
            <div class="toDoList">
            <div class="itemHeader">
              <a href='/<%= archive['name']%>' class="leftItem itemTitleHeader"><h4><%= archive['name'] %></h4></a><br>
              <div class="rightContainer">
                  <form class="form-delete" action="/misc/<%= archive['id'] %>/unarchive" method="POST">
                    <button type="submit" name='unarchive' id="archiveBtn" class="btn btn-outline-danger rightItem">Unarchive</button>
                  </form>
                </div>
            </div>
            <p class="itemContext"><%= archive['context'] %></p>
          </div>
          <% } %>
          </div>
      <% } %>
  </main>

  <!-- <footer class="indexFooter">

  <p> this is a footer</p>
  </footer> -->
  </body>
</html>
